.App {
  text-align: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.links {
  text-decoration: none;
}

.links:hover {
  color: darkseagreen;
}

.each-task {
  width: 250px;
  margin: auto;
  border: 3px solid #000000;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #afe9c9;
}

.add-button {
  margin-top: 10px;
}

.all-tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
